@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger"> Ocorreu um Erro enquanto a sua requisição era processada.</h1>
<h2 class="text-danger">Erro: @Model.Exception.Message</h2>

 @Html.ActionLink("Voltar", Model.ActionName, Model.ControllerName)